<div class="container">
  <h1>Save any kind of movies</h1>
  <h2>Classic</h2>
</div>

<div class="container">
  <h3>My lists</h3>
  <div id="lists">
    <% @lists.each do |list| %>
      <%= render list %>
      <p>
        <%= link_to "Show this list", list %>
      </p>
    <% end %>
  </div>

  <%= link_to "New list", new_list_path %>
</div>
